<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="imgs/book-open.png" type="image/x-icon">
    <title>FaceCrud!</title>
</head>
<body>
    <header>
            
        <nav>
            <a  class="gugu-left" href="#">Blog do Gugu / CRUD </a>            
            <a  href="/">Home</a>
            <a  href="/construcao">Sobre</a>
            <a  href="/construcao">Ajuda</a>
        </nav>
    </header>
    <main>
        {{{body}}} <!-- Este é o espaço onde o conteúdo da página será inserido -->
    </main>
    <footer>
      <p class="rapido">&copy; 2023 Gustavo Nascimento. </p>
    </footer>
</body>
</html>