    <div class="div-pai-edit">
    <h1>Editar Item</h1>
    <form method="post" action="/update/{{index}}">
        <input class="input-update" type="text" name="updatedItem" value="{{item}}" required>
        <button type="submit">Atualizar</button>
    </form>
    </div>

